<div class="navbar-fixed">
  <nav class="website-nav white">
    <div class="container">
      <div class="nav-wrapper">
        <a href="http://cchandurkar.me" class="website-title grey-text text-darken-3">CCHANDURKAR</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons left grey-text text-darken-3">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class="grey-text text-darken-3">Home</a></li>
          <li><a href="portfolio/" class="grey-text text-darken-3">Portfolio</a></li>
          <li><a href="about/" class="grey-text text-darken-3">About</a></li>
          <li><a href="contact/" class="grey-text text-darken-3">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
